.imgget{
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  padding: 0 10px;
}

.display{
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 8px;
  margin: 10px 10px;
}

.nofile{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C7C3C1;
  color: #615F5E;
  border-radius: 8px;
}

.clear{
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.6);
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
  margin: 5px;
  /* Below rules are only written as X is used instead of icon */
  font-size: small;
  font-family: sans-serif;
  font-weight: bold;
  color: white;
}

#imageUpload{
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 4px;
  font-family: monospace;
  padding: 2px;
}

.uploadOptions{
  display: flex;
  padding: 15px;
  box-sizing: border-box;
}

select{
  width: 100px;
  height: 50px;
  text-align: center;
  margin: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#submit{
  width: 100px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}

button[id="submit"]:disabled{
  cursor: none;
}