.app{
  width: 100%;
  height: 600px;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 10px 10px;
}

@media screen and (max-width:768px){
  .app{
    flex-direction: column;
  }
}